code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 0.9em;
  line-height: 1rem;
}

pre {
  border-radius: 5px;
  white-space: pre;
  background-color: #eff0f1 !important;
  border: 1px solid rgba(0, 0, 0, 0.103);
}

.highlight pre {
  padding: 0.5rem;
  background-color: #eff0f1 !important;
}

body {
  font-family: "Roboto Regular", sans-serif;
  font-weight: 400;
  color: #111;
  line-height: 1.5em;
  font-size: 1rem;
}

blockquote {
  font-size: 0.9rem;
}

table {
  border-collapse: collapse;
  font-size: 0.78em;
  margin: 0.8em auto 1.2em;
  table-layout: fixed;
}

@media screen and (min-width: 500px) {
  table {
    font-size: 0.9em;
  }
}
table th {
  border: 1px solid #dbdbdb;
  padding: 5px 1vw;
  background: #f9f9fa;
  background: var(--theme-background, #f9f9fa);
  text-align: left;
}
table td {
  border: 1px solid #dbdbdb;
  padding: 5px 1vw;
  box-sizing: border-box;
}

.header {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
